version: "3.8"
services:
  dev:
    build: .
    container_name: azure-functions-example-dev-environment
    volumes:
      - ../:/workspace
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    hostname: azurite
    restart: unless-stopped
    ports:
      - 10000:10000
      - 10001:10001
      - 10002:10002
    volumes:
      - /data