version: "3.8"
services:
  dev:
    build: .
    container_name: azure-functions-example-dev-environment
    volumes:
      - ../:/workspace
  storage-emulator:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azure-functions-example-storage-emulator
    restart: unless-stopped
    volumes:
      - /workspace